extends layout

block content
    h1= 'Shianqi\'s website Login'

    form(action="/login", method="post")
        p username
        input(type="text", name="username")
        br
        p password
        input(type="text", name="password")
        br
        br
        button(type='submit') submit